.articles-block {
	margin: 4px 8px 4px 8px;
}

.article-div {
	max-height: 0px;
	max-width: 900px;
	margin: auto;
	overflow: hidden;
	transition-property: max-height;
	transition-duration: 0s;
	transition-delay: 0s;
}

.article-button {
	display: block;
	width: 100%;
	max-width: 1000px;
	height: 36px;
	margin: 4px auto 4px auto;
	background-color: #4c525c;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-size: cover;
}

.article-button-text {
	padding: 0;
	color: #EEE;
	font-size: 14pt;
	font-family: calibri, sans-serif;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 2px #000;
	cursor: pointer;
}

.article-button:hover {
	background-color: #606580;
}

.article-button:active {
	background-color: #707590;
}

.article-div p {
	margin: 8px auto 8px auto;
}

.article-div ol, .article-div ul {
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 4px 4px 4px 4px;
	background-color: #151515;
	text-align: left;
}

.article-div li {
	padding-right: 4px;
	text-align: left !important;
}

.bottom-space {
	padding-bottom: 4px !important;
}

.left p {
	text-align: left !important;
}

.centered p {
	text-align: center !important;
}

/* === ARTICLE BACKGROUNDS === */

.lord-bg {
	background-image: url("images/cropped/8165596.jpg");
	background-position-y: 9%;
	background-color: #3c435e !important;
}

.summoner-bg {
	background-image: url("images/cropped/863795.jpg");
	background-position-y: 18%;
	background-color: #5a5e56 !important;
}

.nibiru-bg {
	background-image: url("images/cropped/27204311.jpg");
	background-position-y: 62%;
	background-color: #5e523c !important;
}

.mash-bg {
	background-image: url("images/cropped/54693926.jpg");
	background-position-y: 29%;
	background-color: #61414f !important;
}

.time-bg {
	background-image: url("images/cropped/71625222.jpg");
	background-position-y: 53%;
	background-color: #3c5e4e !important;
}

.rulings-bg {
	background-image: url("images/cropped/41386308.jpg");
	background-position-y: 16%;
	background-color: #3c585e !important;
}

@media screen and (min-width: 800px) {
	.article-button {
		background-blend-mode: normal;
		background-size: 256px;
	}
	.bottom-space {
		padding-bottom: 8px !important;
	}
}