

.combo-entry {
	width: auto;
	float: none;
	clear: left;
	padding-bottom: 12px;
	border-bottom: 4px dotted #5c636c;
}

.combo-insertion-area {
	overflow: hidden;

}

.combo-container {
	float: left;
}

.combo-image {
	width: 100%;
	position: relative;
}

.image-shell {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
}

.combo-text-hundred {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	color: #94ff71;
	font-family: "calibri";
	font-weight: bold;
	text-shadow: 2px 3px black;
	user-select: none;
}

.combo-text-x {
	position: absolute;
	bottom: -35%;
	left: 0;
	right: 0;
	color: #e32245;
	font-family: "calibri";
	font-weight: bold;
	text-shadow: 2px 3px black;
	user-select: none;
}

.combo-area-sub {
	position: absolute;
	right: 0;
	bottom: 4px;
}

.combo-image-sub {
	float: right;
	height: calc(100% - 4px);
	border: 2px solid #82ace8;
}

.combo-description {
	clear: left;
	padding-top: 4px;
}

.combo-description button {
	height: 36px;
	background-color: #4c525c;
	margin-top: 8px;
	padding-left: 16px;
	padding-right: 16px;
	cursor: pointer;
	color: #CCC;
	text-align: center;
	font-size: 16pt;
	font-family: "calibri";
	text-shadow: 1px 1px #111;
	border-radius: 0.25em;
	border: none;

}

.combo-description button:hover {
	background-color: #666;
}

.combo-description-content {
	margin-top: 4px;
	display: none;
	overflow: hidden;
}

.combo-description-content p {
	margin: 4px 0px 0px 8px;
}

.combo-text-title {
	clear: right;
	margin: 6px 0px 0px 4px;
	padding: 0px;
	color: #CCC;
	text-align: left;
	font-size: 24pt;
	font-family: "calibri";
	font-weight: bold;
}

.combo-text-reqs, .combo-text-notes {
	clear: left;
	margin: 0px 0px 8px 4px;
	padding: 0px;
}

.notes-text {
	float: left;
	margin: 0px;
	margin-right: 4px;
	margin-bottom: 1px;
	padding: 0px;
	color: #9fcdd6;
	font-size: 20pt;
	font-family: "calibri";
	font-style: normal;
	font-weight: normal;
}

.requirements-text {
	float: left;
	margin: 0px;
	margin-right: 4px;
	padding: 0px;
	color: #CCC;
	font-size: 18px;
	font-family: "calibri";
	font-style: italic;
	font-weight: normal;
}

.requirements-text-red {
	clear: right;
	margin: 0px;
	padding: 0px;
	color: #E55;
	font-size: 18px;
	font-family: "calibri";
	font-style: italic;
	font-weight: bold;
}