#button-area {
	display: flex;
	width: 100%;
	padding-bottom: 12px;
	border-bottom: 4px dotted #5c636c;
}

@media screen and (min-width: 8in) {
	#button-area {
		justify-content: flex-start;
	}
}

@media screen and (max-width: 8in) {
	#button-area {
		justify-content: space-evenly;
	}
}

.combo-entry {
	width: auto;
	float: none;
	clear: left;
	padding-bottom: 12px;
	border-bottom: 4px dotted #5c636c;
}

.combo-container {
	height: 313px;
	min-width: 140px;
	float: left;

}

.image-shell {
	height: inherit;
	position: relative;
	height: 100%;
}

.combo-image {
	height: 100%;
	position: relative;
}

.combo-image-half {
	position: absolute;
	height: 67%;
	top: 0px;
	left: 0px;
}

.combo-text-hundred {
	position: absolute;
	top: 52px;
	left: 42px;
	text-align: center;
	color: #94ff71;
	font-size: 64px;
	font-family: "calibri";
	font-weight: bold;
	text-shadow: 2px 3px black;
	user-select: none;
}

.combo-text-x {
	position: absolute;
	left: 16px;
	bottom: 18px;
	text-align: left;
	color: #e32245;
	font-size: 64px;
	font-family: "calibri";
	font-weight: bold;
	text-shadow: 2px 3px #4e3f41;
	user-select: none;
}

.combo-area-sub {
	position: absolute;
	height: 78px;
	bottom: 8px;
	right: 8px;
}

.combo-image-sub {
	position: right;
	height: 100%;
	margin-left: -2px;
	border: 2px solid #82ace8;
}

.combo-arrow {
	float: left;
	height: 313px;
}

.combo-description {
	clear: left;
	padding-top: 4px;
}

.combo-description button {
	height: 36px;
	background-color: #4c525c;
	margin-top: 8px;
	padding-left: 16px;
	padding-right: 16px;
	cursor: pointer;
	color: #CCC;
	text-align: center;
	font-size: 20px;
	font-family: "calibri";
	text-shadow: 1px 1px #111;
	border-radius: 0.25em;
	border: none;

}

.combo-description button:hover {
	background-color: #666;
}

.combo-description-content {
	margin-top: 4px;
	display: none;
	overflow: hidden;
}

.combo-description-content p {
	margin: 4px 0px 0px 8px;
}

.combo-text-title {
	clear: right;
	margin: 6px 0px 0px 4px;
	padding: 0px;
	color: #CCC;
	text-align: left;
	font-size: 24px;
	font-family: "calibri";
	font-weight: bold;
}

.combo-text-reqs, .combo-text-notes {
	clear: left;
	margin: 0px 0px 8px 4px;
	padding: 0px;
}

.notes-text {
	float: left;
	margin: 0px;
	margin-right: 4px;
	margin-bottom: 1px;
	padding: 0px;
	color: #9fcdd6;
	font-size: 20px;
	font-family: "calibri";
	font-style: normal;
	font-weight: normal;
}

.requirements-text {
	float: left;
	margin: 0px;
	margin-right: 4px;
	padding: 0px;
	color: #CCC;
	font-size: 18px;
	font-family: "calibri";
	font-style: italic;
	font-weight: normal;
}

.requirements-text-red {
	clear: right;
	margin: 0px;
	padding: 0px;
	color: #E55;
	font-size: 18px;
	font-family: "calibri";
	font-style: italic;
	font-weight: bold;
}