.reqs-area {
	width: 100%;
	margin:auto;
}

[hidden] {
	display: none !important;
}

.YYY {
	
}

.combo-area {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.combo {
	padding: 4px;
	border-top: 4px dotted #adf6f2;
}

.combo-top {
	border-top: none !important;
}

.card-area {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-top: 2px;
}

.card {
	margin: 2px;
	box-sizing: border-box;
}

.card-img {
	width: 100%;
	border: 1px solid #96C8FF;
}

.sub-card-area {
	position: relative;
	height: 38%;
	width: 100%;
	bottom: calc(38% + 4px);
	left: 1px;
	z-index: 1;
}

.sub-card {
	height: 100%;
	width: calc(33.33333%);
	float: right;
	background-size: cover;
	box-sizing: border-box;
	border: 1px solid black;
}

.path-desc-area {
	width: calc(100% - 8px);
	max-width: 825px;
	padding-left: 8px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 4px auto 4px auto;
	display: none;
	background-color: #151515;
}

.path-desc-area ol {
	padding-right: 4px;
}

@media screen and (min-width: 800px) {
	.card {
		margin: 4px;
	}
}