.reqs-area {
	width: 100%;
	margin:auto;
}

.combo-area {
	display: flex;
	width: 100%;
	flex-direction: column;
	background-color: #222;
}

[hidden] {
	display: none;
}

.combo {
	padding: 4px;
	border-top: 4px dotted #888;
}

.card-area {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-top: 2px;
}

.card {
	margin: 2px;
	box-sizing: border-box;
}

.card-img {
	width: 100%;
	border: 1px solid #96C8FF;
}

.sub-card-area {
	position: relative;
	height: 50%;
	width: 100%;
	bottom: calc(50% + 4px);
	left: 1px;
}

.sub-card {
	height: 100%;
	width: calc(33.33333%);
	float: right;
	background-size: cover;
	box-sizing: border-box;
	border: 1px solid black;
}

.borderless {
	border: 0px;
}

.path-button {
	display: block;
	margin: 4px auto 4px auto;
	padding: 4px 12px 4px 12px;
	border-radius: 8px;
	border: 1px solid black;
}

.path-desc-area {
	display: none;
	width: 100%;
	max-width: 825px;
	padding-left: 12px;
	margin: auto;
	background-color: #151515;
	border: 1px solid #333;
}

.path-desc-area ol {
	padding-right: 12px;
}

/* -------------------- */

.header-text {
	font-size: 16pt;
	margin: 0;
	padding: 0;
	color: #DDD;
	font-family: calibri;
	font-weight: bold;
	text-align: center;
}

.major-text {
	font-size: 12pt;
	margin: 0;
	padding: 0;
	color: #96C8FF;
	font-family: calibri;
	font-weight: normal;
	text-align: center;
}

.minor-text {
	width: 100%;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	color: #DDD;
	font-family: calibri;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	margin-bottom: 4px;
}

.button-text {
	font-size: 12pt;
	color: #CCC;
	background-color: #4c525c;
	font-family: calibri;
	font-weight: normal;
	cursor: pointer;
}

.button-text:hover {
	background-color: #606580;
}

.button-text:active {
	background-color: #707590;
}

.desc-text {
	font-size: 12pt;
	margin: 0;
	padding: 0;
	color: #DDD;
	font-family: consolas, monospace;
	font-weight: normal;
	text-align: left;
}

.alert {
	font-weight: bold;
	color: #ff5050;
}

@media screen and (min-width: 800px) {
	#center-column {
		border: 4px solid #17191a;
		border-top: none;
	}
	.card {
		margin: 4px;
	}
	.header-text {
		font-size: 20pt;
	}
	.major-text {
		font-size: 14pt;
	}
	.minor-text {
		font-size: 14pt;
	}
	.button-text {
		font-size: 14pt;
	}
	.desc-text {
		font-size: 14pt;
	}
	.sub-card-area {
		height: 38%;
		bottom: calc(38% + 4px);
	}
}