/* --- full --- */

.accellight-full 	{ content:url("images/full/34838437.jpg"); }
.advancer-full 		{ content:url("images/full/98881931.jpg"); }
.afterglow-full 	{ content:url("images/full/62968263.jpg"); }
.ahashima-full 		{ content:url("images/full/71095768.jpg"); }
.armor-full 		{ content:url("images/full/39030163.jpg"); }
.astral-full 		{ content:url("images/full/64591429.jpg"); }
.bagooska-full		{ content:url("images/full/90590304.jpg"); }
.blade-full 		{ content:url("images/full/2530830.jpg"); }
.blast-full 		{ content:url("images/full/16643334.jpg"); }
.bounzer-full 		{ content:url("images/full/92661479.jpg"); }
.brave-full 		{ content:url("images/full/55168550.jpg"); }
.c62-full 			{ content:url("images/full/48348921.jpg"); }
.cerberus-full 		{ content:url("images/full/28990150.jpg"); }
.cipher-full 		{ content:url("images/full/18963306.jpg"); }
.cipherx-full 		{ content:url("images/full/28346136.jpg"); }
.cleric-full 		{ content:url("images/full/28770951.jpg"); }
.cyclone-full 		{ content:url("images/full/5133471.jpg"); }
.decel-full			{ content:url("images/full/8653757.jpg"); }
.durendal-full 		{ content:url("images/full/69840739.jpg"); }
.emperor-full 		{ content:url("images/full/73478096.jpg"); }
.eternal-full 		{ content:url("images/full/82162616.jpg"); }
.exp-full 			{ content:url("images/full/60222582.jpg"); }
.felgrand-full		{ content:url("images/full/1639384.jpg"); }
.foolish-full		{ content:url("images/full/81439174.jpg"); }
.galak-full			{ content:url("images/full/46261704.jpg"); }
.galaxion-full 		{ content:url("images/full/40390147.jpg"); }
.gepd-full 			{ content:url("images/full/93717133.jpg"); }
.gpd-full 			{ content:url("images/full/85747929.jpg"); }
.hand-full 			{ content:url("images/full/15520842.jpg"); }
.hope-full 			{ content:url("images/full/4606229.jpg"); }
.hundred-full 		{ content:url("images/full/897409.jpg"); }
.hyper-full 		{ content:url("images/full/83512285.jpg"); }
.infinity-full 		{ content:url("images/full/10443957.jpg"); }
.jumper-full 		{ content:url("images/full/97639441.jpg"); }
.knight-full		{ content:url("images/full/35950025.jpg"); }
.kuri-full 			{ content:url("images/full/35112613.jpg"); }
.light-full			{ content:url("images/full/82085619.jpg"); }
.lizard-full		{ content:url("images/full/38973775.jpg"); }
.lord-full 			{ content:url("images/full/8165596.jpg"); }
.magnamhut-full		{ content:url("images/full/33854624.jpg"); }
.neo-full 			{ content:url("images/full/39272762.jpg"); }
.orbital-full 		{ content:url("images/full/89132148.jpg"); }
.papill-full 		{ content:url("images/full/28150174.jpg"); }
.pente-full 		{ content:url("images/full/72336818.jpg"); }
.prime-full 		{ content:url("images/full/31801517.jpg"); }
.reborn-full 		{ content:url("images/full/83764719.jpg"); }
.rota-full 			{ content:url("images/full/32807846.jpg"); }
.sanc-full 			{ content:url("images/full/17418744.jpg"); }
.shifter-full 	 	{ content:url("images/full/91800273.jpg"); }
.slasher-full 		{ content:url("images/full/9718968.jpg"); }
.smasher-full		{ content:url("images/full/35772782.jpg"); }
.sol-full 			{ content:url("images/full/3356494.jpg"); }
.soldier-full 		{ content:url("images/full/46659709.jpg"); }
.spheres-full		{ content:url("images/full/24361622.jpg"); }
.spiral-full 		{ content:url("images/full/89789152.jpg"); }
.stream-full 		{ content:url("images/full/72044448.jpg"); }
.summoner-full 		{ content:url("images/full/863795.jpg"); }
.tachyon-full 		{ content:url("images/full/88177324.jpg"); }
.thrasher-full 		{ content:url("images/full/65367484.jpg"); }
.thrust-full 	 	{ content:url("images/full/35269904.jpg"); }
.titanic-full 		{ content:url("images/full/63767246.jpg"); }
.trade-full 		{ content:url("images/full/38120068.jpg"); }
.trance-full 		{ content:url("images/full/63956833.jpg"); }
.trans-full 		{ content:url("images/full/8038143.jpg"); }
.trident-full 		{ content:url("images/full/51589188.jpg"); }
.vanisher-full 		{ content:url("images/full/43147039.jpg"); }
.veil-full 			{ content:url("images/full/9354555.jpg"); }
.veiler-full		{ content:url("images/full/97268402.jpg"); }
.wave-full 			{ content:url("images/full/77098449.jpg"); }
.wizard-full 		{ content:url("images/full/98555327.jpg"); }
.zero-full 			{ content:url("images/full/97617181.jpg"); }
.zeus-full 			{ content:url("images/full/90448279.jpg"); }

/* --- cropped --- */

.accellight-cropped 	{ content:url("images/cropped-small/34838437.jpg"); }
.advancer-cropped 		{ content:url("images/cropped-small/98881931.jpg"); }
.afterglow-cropped 		{ content:url("images/cropped-small/62968263.jpg"); }
.ahashima-cropped 		{ content:url("images/cropped-small/71095768.jpg"); }
.armor-cropped 			{ content:url("images/cropped-small/39030163.jpg"); }
.astral-cropped 		{ content:url("images/cropped-small/64591429.jpg"); }
.bagooska-cropped		{ content:url("images/cropped-small/90590304.jpg"); }
.blade-cropped 			{ content:url("images/cropped-small/2530830.jpg"); }
.blast-cropped 			{ content:url("images/cropped-small/16643334.jpg"); }
.bounzer-cropped 		{ content:url("images/cropped-small/92661479.jpg"); }
.brave-cropped 			{ content:url("images/cropped-small/55168550.jpg"); }
.c62-cropped 			{ content:url("images/cropped-small/48348921.jpg"); }
.cerberus-cropped 		{ content:url("images/cropped-small/28990150.jpg"); }
.cipher-cropped 		{ content:url("images/cropped-small/18963306.jpg"); }
.cipherx-cropped 		{ content:url("images/cropped-small/28346136.jpg"); }
.cleric-cropped 		{ content:url("images/cropped-small/28770951.jpg"); }
.cyclone-cropped 		{ content:url("images/cropped-small/5133471.jpg"); }
.decel-cropped			{ content:url("images/cropped-small/8653757.jpg"); }
.durendal-cropped 		{ content:url("images/cropped-small/69840739.jpg"); }
.emperor-cropped 		{ content:url("images/cropped-small/73478096.jpg"); }
.eternal-cropped 		{ content:url("images/cropped-small/82162616.jpg"); }
.exp-cropped 			{ content:url("images/cropped-small/60222582.jpg"); }
.felgrand-cropped		{ content:url("images/cropped-small/1639384.jpg"); }
.foolish-cropped		{ content:url("images/cropped-small/81439174.jpg"); }
.galak-cropped			{ content:url("images/cropped-small/46261704.jpg"); }
.galaxion-cropped 		{ content:url("images/cropped-small/40390147.jpg"); }
.gepd-cropped 			{ content:url("images/cropped-small/93717133.jpg"); }
.gpd-cropped 			{ content:url("images/cropped-small/85747929.jpg"); }
.hand-cropped 			{ content:url("images/cropped-small/15520842.jpg"); }
.hope-cropped 			{ content:url("images/cropped-small/4606229.jpg"); }
.hundred-cropped 		{ content:url("images/cropped-small/897409.jpg"); }
.hyper-cropped 			{ content:url("images/cropped-small/83512285.jpg"); }
.infinity-cropped 		{ content:url("images/cropped-small/10443957.jpg"); }
.jumper-cropped 		{ content:url("images/cropped-small/97639441.jpg"); }
.knight-cropped			{ content:url("images/cropped-small/35950025.jpg"); }
.kuri-cropped 			{ content:url("images/cropped-small/35112613.jpg"); }
.light-cropped			{ content:url("images/cropped-small/82085619.jpg"); }
.lizard-cropped			{ content:url("images/cropped-small/38973775.jpg"); }
.lord-cropped 			{ content:url("images/cropped-small/8165596.jpg"); }
.magnamhut-cropped 		{ content:url("images/cropped-small/33854624.jpg"); }
.neo-cropped 			{ content:url("images/cropped-small/39272762.jpg"); }
.orbital-cropped 		{ content:url("images/cropped-small/89132148.jpg"); }
.papill-cropped 		{ content:url("images/cropped-small/28150174.jpg"); }
.pente-cropped 			{ content:url("images/cropped-small/72336818.jpg"); }
.prime-cropped 			{ content:url("images/cropped-small/31801517.jpg"); }
.reborn-cropped 		{ content:url("images/cropped-small/83764719.jpg"); }
.rota-cropped 			{ content:url("images/cropped-small/32807846.jpg"); }
.sanc-cropped 			{ content:url("images/cropped-small/17418744.jpg"); }
.shifter-cropped 		{ content:url("images/cropped-small/91800273.jpg"); }
.slasher-cropped 		{ content:url("images/cropped-small/9718968.jpg"); }
.smasher-cropped		{ content:url("images/cropped-small/35772782.jpg"); }
.sol-cropped 			{ content:url("images/cropped-small/3356494.jpg"); }
.soldier-cropped 		{ content:url("images/cropped-small/46659709.jpg"); }
.spheres-cropped		{ content:url("images/cropped-small/24361622.jpg"); }
.spiral-cropped 		{ content:url("images/cropped-small/89789152.jpg"); }
.stream-cropped 		{ content:url("images/cropped-small/72044448.jpg"); }
.summoner-cropped 		{ content:url("images/cropped-small/863795.jpg"); }
.tachyon-cropped 		{ content:url("images/cropped-small/88177324.jpg"); }
.thrasher-cropped 		{ content:url("images/cropped-small/65367484.jpg"); }
.thrust-cropped 		{ content:url("images/cropped-small/35269904.jpg"); }
.titanic-cropped 		{ content:url("images/cropped-small/63767246.jpg"); }
.trade-cropped 			{ content:url("images/cropped-small/38120068.jpg"); }
.trance-cropped 		{ content:url("images/cropped-small/63956833.jpg"); }
.trans-cropped 			{ content:url("images/cropped-small/8038143.jpg"); }
.trident-cropped 		{ content:url("images/cropped-small/51589188.jpg"); }
.vanisher-cropped 		{ content:url("images/cropped-small/43147039.jpg"); }
.veil-cropped 			{ content:url("images/cropped-small/9354555.jpg"); }
.veiler-cropped			{ content:url("images/cropped-small/97268402.jpg"); }
.wave-cropped 			{ content:url("images/cropped-small/77098449.jpg"); }
.wizard-cropped 		{ content:url("images/cropped-small/98555327.jpg"); }
.zero-cropped 			{ content:url("images/cropped-small/97617181.jpg"); }
.zeus-cropped 			{ content:url("images/cropped-small/90448279.jpg"); }

/* --- sub cards --- */

.afterglow-sub 		{ background:url("images/cropped-small/62968263.jpg"); background-position-x: 80%; }
.emperor-sub 		{ background:url("images/cropped-small/73478096.jpg"); background-position-x: 50%; }
.gepd-sub 			{ background:url("images/cropped-small/93717133.jpg"); background-position-x: 30%; }
.jumper-sub 		{ background:url("images/cropped-small/97639441.jpg"); background-position-x: 50%; }
.veiler-sub			{ background:url("images/cropped-small/97268402.jpg"); background-position-x: 40%; }

/* --- utility --- */

.arrow			{ content:url("images/arrow.png"); }
.blank			{ content:url("images/blank.png"); }
.blank-quarter	{ content:url("images/blank-quarter.png"); }
.blank-half		{ content:url("images/blank-half.png"); }
.hundred-0		{ content:url("images/blank-half.png"); }
.hundred-1		{ content:url("images/hundred-1.png"); }
.hundred-2		{ content:url("images/hundred-2.png"); }
.hundred-0-ex	{ content:url("images/hundred-0-ex.png"); }
.hundred-1-ex	{ content:url("images/hundred-1-ex.png"); }
.hundred-2-ex	{ content:url("images/hundred-2-ex.png"); }

.blank-fullcard	{ content:url("images/blank-fullcard.png"); }
.blank-halfcard	{ content:url("images/blank-halfcard.png"); }