/* --- full --- */

.galak-full			{ content:url("images/full/46261704.jpg"); }
.thrasher-full 		{ content:url("images/full/65367484.jpg"); }
.vanisher-full 		{ content:url("images/full/43147039.jpg"); }
.jumper-full 		{ content:url("images/full/97639441.jpg"); }
.orbital-full 		{ content:url("images/full/89132148.jpg"); }
.wizard-full 		{ content:url("images/full/98555327.jpg"); }
.summoner-full 		{ content:url("images/full/863795.jpg"); }
.soldier-full 		{ content:url("images/full/46659709.jpg"); }
.gepd-full 			{ content:url("images/full/93717133.jpg"); }
.emperor-full 		{ content:url("images/full/73478096.jpg"); }
.afterglow-full 	{ content:url("images/full/62968263.jpg"); }
.brave-full 		{ content:url("images/full/55168550.jpg"); }
.knight-full		{ content:url("images/full/35950025.jpg"); }

.eternal-full 		{ content:url("images/full/82162616.jpg"); }
.decel-full			{ content:url("images/full/8653757.jpg"); }
.hundred-full 		{ content:url("images/full/897409.jpg"); }
.trance-full 		{ content:url("images/full/63956833.jpg"); }
.veil-full 			{ content:url("images/full/9354555.jpg"); }
.foolish-full		{ content:url("images/full/81439174.jpg"); }

.sol-full 			{ content:url("images/full/3356494.jpg"); }
.gpd-full 			{ content:url("images/full/85747929.jpg"); }
.blast-full 		{ content:url("images/full/16643334.jpg"); }
.titanic-full 		{ content:url("images/full/63767246.jpg"); }
.lord-full 			{ content:url("images/full/8165596.jpg"); }
.cipherx-full 		{ content:url("images/full/28346136.jpg"); }

.bagooska-full		{ content:url("images/full/90590304.jpg"); }
.durendal-full		{ content:url("images/full/69840739.jpg"); }
.veiler-full		{ content:url("images/full/97268402.jpg"); }
.spheres-full		{ content:url("images/full/24361622.jpg"); }
.smasher-full		{ content:url("images/full/35772782.jpg"); }
.light-full			{ content:url("images/full/82085619.jpg"); }

/* --- cropped --- */

.galak-cropped			{ content:url("images/cropped/46261704.jpg"); }
.thrasher-cropped 		{ content:url("images/cropped/65367484.jpg"); }
.vanisher-cropped 		{ content:url("images/cropped/43147039.jpg"); }
.jumper-cropped 		{ content:url("images/cropped/97639441.jpg"); }
.orbital-cropped 		{ content:url("images/cropped/89132148.jpg"); }
.wizard-cropped 		{ content:url("images/cropped/98555327.jpg"); }
.summoner-cropped 		{ content:url("images/cropped/863795.jpg"); }
.soldier-cropped 		{ content:url("images/cropped/46659709.jpg"); }
.gepd-cropped 			{ content:url("images/cropped/93717133.jpg"); }
.emperor-cropped 		{ content:url("images/cropped/73478096.jpg"); }
.afterglow-cropped 		{ content:url("images/cropped/62968263.jpg"); }
.brave-cropped 			{ content:url("images/cropped/55168550.jpg"); }
.knight-cropped			{ content:url("images/cropped/35950025.jpg"); }

.eternal-cropped 		{ content:url("images/cropped/82162616.jpg"); }
.decel-cropped			{ content:url("images/cropped/8653757.jpg"); }
.hundred-cropped 		{ content:url("images/cropped/897409.jpg"); }
.trance-cropped 		{ content:url("images/cropped/63956833.jpg"); }
.veil-cropped 			{ content:url("images/cropped/9354555.jpg"); }
.sanc-cropped 			{ content:url("images/cropped/17418744.jpg"); }
.foolish-cropped		{ content:url("images/cropped/81439174.jpg"); }

.sol-cropped 			{ content:url("images/cropped/3356494.jpg"); }
.gpd-cropped 			{ content:url("images/cropped/85747929.jpg"); }
.blast-cropped 			{ content:url("images/cropped/16643334.jpg"); }
.titanic-cropped 		{ content:url("images/cropped/63767246.jpg"); }
.lord-cropped 			{ content:url("images/cropped/8165596.jpg"); }
.cipherx-cropped 		{ content:url("images/cropped/28346136.jpg"); }

.bagooska-cropped		{ content:url("images/cropped/90590304.jpg"); }
.durendal-cropped		{ content:url("images/cropped/69840739.jpg"); }
.veiler-cropped			{ content:url("images/cropped/97268402.jpg"); }
.spheres-cropped		{ content:url("images/cropped/24361622.jpg"); }
.smasher-cropped		{ content:url("images/cropped/35772782.jpg"); }
.light-cropped			{ content:url("images/cropped/82085619.jpg"); }

/* --- sub cards --- */

.jumper-sub 		{ background:url("images/cropped/97639441.jpg"); background-position-x: 50% }
.gepd-sub 			{ background:url("images/cropped/93717133.jpg"); background-position-x: 30% }
.emperor-sub 		{ background:url("images/cropped/73478096.jpg"); background-position-x: 50%}
.afterglow-sub 		{ background:url("images/cropped/62968263.jpg"); background-position-x: 80%}
.veiler-sub			{ background:url("images/cropped/97268402.jpg"); background-position-x: 40%}

/* --- utility --- */

.arrow			{ content:url("images/arrow.png"); }
.blank			{ content:url("images/blank.png"); }
.blank-quarter	{ content:url("images/blank-quarter.png"); }
.blank-half		{ content:url("images/blank-half.png"); }
.hundred-0		{ content:url("images/blank-half.png"); }
.hundred-1		{ content:url("images/hundred-1.png"); }
.hundred-2		{ content:url("images/hundred-2.png"); }
.hundred-0-ex	{ content:url("images/hundred-0-ex.png"); }
.hundred-1-ex	{ content:url("images/hundred-1-ex.png"); }
.hundred-2-ex	{ content:url("images/hundred-2-ex.png"); }