.guide-block {
	margin: 8px 8px 0px 8px;
}

.guide-block p {
	max-width: 1000px;
	margin: auto;
	margin-top: 4px;
	text-align: center;
}

.bottom-space {
	padding-bottom: 4px !important;
}

@media screen and (min-width: 800px) {
	.bottom-space {
		padding-bottom: 8px !important;
	}
}