body {
	margin: 0px;
	padding: 0px;
	background-color: #292e33;
}

a {
	color: #96C8FF;
}

a:hover {
	color: #bfddff;
}

hr {
	color: #AAA;
	background-color: #AAA;
	border-color: #AAA;
}

#center-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

#nav-bar {
	position: sticky;
	top: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #292e33;
	border-bottom: 4px dotted #adf6f2;
	z-index: 2;
}

#mini-spacer {
	margin: 0px;
	padding: 0px;
	width: 2px;
}

#title-area {
	margin: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 4px solid #222;
}

#title-area-collapse {
	margin: auto;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	max-width: 1000px;
	display: none;
}

#title-area .major-text {
	padding-top: 4px;
}

.nav-dropdown {
	width: 25%;
	height: 48px;
	padding: 2px 2px 2px 0px;
}

.inner-nav-dropdown {
	position: relative;
	width: 100%;
	top: 0;
	border: none;
	display: none;
}

.nav-dropdown-button {
	height: 100%;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
	text-align: center;
	background-blend-mode: overlay;
	background-color: #4c525c;
	border: 2px solid #222;	
}

.nav-spacer {
	height: 0px;
	width: 100%;
}

.inner-nav-dropdown-button {
	height: 36px;
	width: 100%;
	border: 2px solid #222;
	border-top: none;
	background-color: #4c525c;
}

.inner-nav-dropdown-button:hover {
	background-color: #606580;
}

.inner-nav-dropdown-button:active {
	background-color: #707590;
}

.path-button {
	display: block;
	margin: 0px auto 4px auto;
	padding: 4px 12px 4px 12px !important;
	border: 1px solid black;
	border-radius: 8px;
	background-color: #4c525c;
}

.path-button:hover {
	background-color: #606580;
}

.path-button:active {
	background-color: #707590;
}

/* === COLORED NAV HOVER STATES === */

.kite-bg {
	background-image: url("images/kite.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-color: #9f6666;
}
.kite-bg:hover {
	background-color: #b57777;
}
.kite-bg:active {
	background-color: #b57777;
}

.gepd-bg {
	background-image: url("images/gepd.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-color: #74b3b5;
}
.gepd-bg:hover {
	background-color: #83c7c9;
}
.gepd-bg:active {
	background-color: #83c7c9;
}

.soldier-bg {
	background-image: url("images/soldier.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-color: #adac72;
}
.soldier-bg:hover {
	background-color: #c7c68b;
}
.soldier-bg:active {
	background-color: #c7c68b;
}

.wanderer-bg {
	background-image: url("images/orbital.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-color: #7277ad;
}
.wanderer-bg:hover {
	background-color: #858ac1;
}
.wanderer-bg:active {
	background-color: #858ac1;
}

/* === TEXT === */

.title-text {
	margin: 0;
	padding: 0;
	margin: auto;
	color: #DDD;
	font-size: 16pt;
	font-family: verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-shadow: 2px 2px #111;
}

.nav-text {
	margin: 0;
	padding: 0;
	color: #EEE;
	font-size: 14pt;
	font-family: verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-shadow: 2px 2px #111;
	cursor: pointer;
}

.header-text {
	margin: 0;
	padding: 0;
	color: #DDD;
	font-size: 16pt;
	font-family: calibri, sans-serif;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

.major-text {
	margin: 0;
	padding: 0;
	color: #96C8FF;
	font-size: 12pt;
	font-family: calibri, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-align: center;
}

.minor-text {
	margin: 0;
	padding: 0;
	color: #DDD;
	font-size: 12pt;
	font-family: calibri, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-align: center;
}

.button-text {
	padding: 0;
	color: #CCC;
	font-size: 12pt;
	font-family: calibri, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	cursor: pointer;
}

.mono-text {
	margin: 0;
	padding: 0;
	color: #DDD;
	font-size: 12pt;
	font-family: consolas, monospace;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.alert {
	font-weight: bold !important;
	color: #ff5050 !important;
}

.alt {
	color: #8cde97 !important;
}

.no-padding {
	padding: 0 !important;
}

.borderless {
	border: 0px !important;
}

/* === RESPONSIVENESS === */

@media screen and (min-width: 800px) {
	.nav-dropdown-button {
		padding-left: 33%;
		background-blend-mode: normal;
	}
	#mini-spacer {
		width: 4px;
	}
	.nav-dropdown {
		padding: 4px 4px 4px 0px;
	}
	.inner-nav-dropdown-button {
		font-size: 14pt;
	}
	.title-text {
		font-size: 24pt;
	}
	.nav-text {
		font-size: 16pt;
	}
	.header-text {
		font-size: 20pt;
	}
	.major-text {
		font-size: 14pt;
	}
	.minor-text {
		font-size: 14pt;
	}
	.button-text {
		font-size: 14pt;
	}
	.mono-text {
		font-size: 14pt;
	}
}

@media screen and (min-width: 1200px) {
	#center-column {
		border: 4px solid #222;
		border-top: none;
	}
	#mini-spacer {
		width: 8px;
	}
	.nav-dropdown {
		width: 256px;
		height: 64px;
		padding: 8px 8px 8px 0px;
	}
	.path-button {
		margin: 0px auto 6px auto;
	}
}

@media screen and (max-width: 400px) {
	.nav-text {
		font-size: 12pt;
	}
}

@media (orientation: landscape) {
	body {
		overflow-y: scroll;
	}
}