#body {
	background-color: #1c1e21;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

#main-area {
	margin: 8px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.standard-button {
	padding: 4pt;
	background-color: #48a9bd;
	border: 2px solid #9fcdd6;
	font-size: 18pt;
	color: #FFF;
	font-family: "calibri";
	cursor: pointer;
	overflow: hidden;
}

@media screen and (min-width: 8in) {
	.standard-button {
		border-radius: 0.25em;
	}
}


@media screen and (max-width: 8in) {
	.standard-button {
		border-radius: 0;
	}
}

.standard-button:hover {
	background-color: #7acdde;
}

.standard-button:disabled {
	background-color: #4c525c;
	color: #CCC;
	border-color: #AAA;
}

.heading-text {

}

.mono-text {
	padding: 0px;
	color: #CCC;
	text-align: left;
	font-size: 20px;
	font-family: courier, monospace;
	white-space: pre;
}