#body {
	background-color: #1c1e21;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

#main-area {
	margin: 8px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

#nav-button-area {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-bottom: 12px;
	border-bottom: 4px dotted #5c636c;
}

@media screen and (min-width: 8in) {
	#nav-button-area {
		justify-content: flex-start;
	}
	#nav-button-area button {
		min-width: 120px;
		padding: 4px;
		margin-right: 8px;
	}
}

@media screen and (max-width: 8in) {
	#nav-button-area {
		justify-content: center;
	}
	#nav-button-area button {
		width: 20%;
		padding: 0px;
	}
}

.standard-button {
	padding: 4pt;
	background-color: #48a9bd;
	border: 2px solid #9fcdd6;
	font-size: 18pt;
	color: #FFF;
	font-family: "calibri";
	cursor: pointer;
	overflow: hidden;
}

@media screen and (min-width: 8in) {
	.standard-button {
		border-radius: 0.25em;
	}
}


@media screen and (max-width: 8in) {
	.standard-button {
		border-radius: 0;
	}
}

.standard-button:hover {
	background-color: #7acdde;
}

.standard-button:disabled {
	background-color: #4c525c;
	color: #CCC;
	border-color: #AAA;
}

@media screen and (min-width: 1200px) {
	.card-sizer {
		width: 200px;
	}
	.card-sizer-half {
		width: 150px;
	}
	.card-sizer-mini {
		width: 75px;
	}
	.card-spacer {
		width: 48px;
	}
	.overlay-text {
		font-size: 75px;
	}
}

@media screen and (max-width: 1200px) {
	.card-sizer {
		width: 150px;
	}
	.card-sizer-half {
		width: 100px;
	}
	.card-sizer-mini {
		width: 50px;
	}
	.card-spacer {
		width: 32px;
	}
	.overlay-text {
		font-size: 50px;
	}
}

@media screen and (max-width: 8in) {
	.card-sizer {
		width: 1in;
	}
	.card-sizer-half {
		width: .5in;
	}
	.card-sizer-mini {
		width: .25in;
	}
	.card-spacer {
		width: .213in;
	}
	.overlay-text {
		font-size: .25in;
	}
}

.mono-text {
	padding: 0px;
	color: #CCC;
	text-align: left;
	font-size: 20px;
	font-family: courier, monospace;
	white-space: pre;
}