body {
	margin: 0px;
	padding: 0px;
	background-color: #000;
}

.combo-area {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #222;
}

.combo {
	margin-left: auto;
	margin-right: auto;
	padding: 4px; /* increase with screen size */
	border-bottom: 4px dotted #888;
	max-width: 1200px;
}

.card-area {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.card {
	margin: 2px; /* increase with screen size */
}

.card-img {
	width: 100%;
	border: 1px solid #96C8FF;
}

.sub-card-area {
	position: relative;
	height: 50%;
	width: 100%;
	bottom: calc(50% + 1px);
	right: 0px;
	left: 0px;
}

.sub-card {
	height: 100%;
	width: calc(33%);
	float: right;
	background-color: green;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	box-sizing: border-box;
	border: 1px solid black;
}

.borderless {
	border: 1px solid #222;
}

.entry-text {
	font-size: 16pt; /* increase with screen size */
	margin: 4px;
	padding: 0;
	color: #DDD;
	font-family: calibri;
	font-weight: bold;
	text-align: center;
}

.path-button {
	display: block;
	font-size: 14pt; /* increase with screen size */
	margin: 2px auto 4px auto; /* increase with screen size */
	padding: 4px 12px 4px 12px;
	border-radius: 8px;
	color: #CCC;
	background-color: #4c525c;
	font-family: calibri;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.path-button:hover {
	background-color: #606580;
}

.path-button:active {
	background-color: #707590;
}

.path-desc-area {
	display: none;
	width: 100%;
	max-width: 800px;
	padding: 0px;
	margin: auto;
	background-color: #111;
	border: 1px solid #333;
}

.path-desc-text {
	font-size: 14pt; /* increase with screen size */
	margin: 0;
	padding: 0;
	color: #EEE;
	font-family: calibri;
	font-weight: normal;
	text-align: left;
}