body {
	background-color: #EEF;
	margin: 0px;
	padding: 0px;
}

.header {
	background-color: #AAC;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 24px;
	height: 40px;
	padding-top: 10px;
	text-align: center;
}

.info {
	height: 66px;
	margin: 0;
	padding: 0;
}

.info p {
	font-family: Calibri, Candara, Arial, sans-serif;
	font-size: 18px;
	height: 26px;
	margin: 10px 0 0 0;
	text-align: center;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px auto 10px auto;
	max-width: 600px;
}

.column {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 260px;
	padding-bottom: 10px;
}

.column.left {
	background-color: #CCD;
	margin-right: 5px;
	padding-right: 10px;
}

.column.right {
	background-color: #DDE;
	margin-left: 5px;
	padding-left: 10px;
}

.column.left p {
	font-family: Calibri, Candara, Arial, sans-serif;
	font-size: 18px;
	height: 28px;
	margin: 0;
	padding: 14px 0 0 0;
	text-align: right;
}

.fullInput, .treasureData input {
	font-family: Calibri, Candara, Arial, sans-serif;
	font-size: 20px;
	height: 20px;
	margin: 10px 0 0 0;
	padding: 4px;
	text-align: left;
}

.column.right span {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 18px;
	height: 20px;
	padding-left: 4px;
	text-align: left;
}

.column.right form {
	padding: 6px 4px 4px 4px;
}

.randomArea {
	height: 30px;
	margin-top: 10px;
}

.randomSlider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	background: #778;
	border-radius: 3px;
	display: table-cell;
	float: left;
	height: 6px;
	margin: 15px 8px 0 8px;
	vertical-align: middle;
	width: 100px;
}

.randomSlider:hover {
	cursor:pointer;
}

.symbol {
	font-family: Calibri, Candara, Arial, sans-serif;
	font-size: 20px;
	height: 20px;
	padding: 4px;
	text-align: left;
}

.randomLabel {
	float: left;
	font-family: Calibri, Candara, Arial, sans-serif;
	font-size: 20px;
	text-align: left;
	vertical-align: middle;
}

.treasuredata {
	margin: 0;
	padding: 0;
}

.calculate {
	text-align: center;
	width: 100%;
}

.calculate button {
	height: 30px;
	width: 300px;
}

.calculate button:hover {
	cursor: pointer;
}

.textResultsContainer {
	background-color: #667;
	border-radius: 5px;
	color: #FFF;
	margin: 10px auto 10px auto;
	max-width: 500px;
	min-height: 10px;
	text-align: center;
}

.frequencyResultsContainer {
	background-color: #667;
	border-radius: 5px;
	color: #FFF;
	margin: 10px auto 10px auto;
	max-width: 500px;
	min-height: 10px;
	text-align: left;
}

.textResultsContainer p {
	font-family: Calibri, Candara, Arial, sans-serif;
	font-size: 18px;
	margin: 0px;
	padding: 5px;
}

.frequencyResultsContainer p {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 18px;
	margin: 0px;
	padding: 5px;
}

.helpArea {
	background-color: #CCD;
	border-radius: 16px;
	border: 5px solid #99A;
	display: none;
	font-family: Calibri, Candara, Arial, sans-serif;
	font-size: 16px;
	left: 50%;
	margin-left: -250px;
	position: absolute;
	text-align: center;
	top: 55px;
	width: 500px;
}

.helpTitle {
	color: #555;
	font-family: Calibri, Candara, Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	height: 32px;
	margin: 0px;
	padding-top: 16px;
	text-align: center;
}

.helpClose {
	background-color: #EEE;
	border-radius: 8px;
	border: 4px #BBB solid;
	color: #AAA;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 32px;
	font-weight: bold;
	height: 42px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 42px;
}

.helpOpen {
	background-color: #EEE;
	border-radius: 40px;
	border: 4px #BBB solid;
	color: #AAA;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 32px;
	font-weight: bold;
	height: 38px;
	left: 50%;
	margin-left: 256px;
	position: absolute;
	top: 2px;
	width: 38px;
}

.helpClose:hover, .helpOpen:hover {
	background-color: #F6F6F6;
	cursor: pointer;
}

.helpText {
	font-family: Calibri, Candara, Arial, sans-serif;
	font-size: 16px;
	padding: 10px 20px 6px 20px;
	text-align: left;
}